<div class="popup_menu">
		<div class="col-xs-11 add_task">
			<form ng-submit="addTask()">
						<p class="col-xs-3" translate="Task_id"></p>
						<input type="text" class="col-xs-9" ng-model="_id" ng-pattern="id_reg" required>
						<div class="clearfix"></div>
						<p class="col-xs-3" translate="Task_name"></p>
						<input type="text" class="col-xs-9" ng-model="_name" ng-pattern="tname_reg" required>
						<div class="col-xs-3"></div>
						<input type="submit" value="{{'button_add'|translate}}" class="add_button col-xs-1">
						<div class="col-xs-4"></div>
						<input type="reset"class="col-xs-1 cancel_button" value="{{'Cancel'|translate}}">
						<div class="clearfix"></div>
			</form>					
	</div>
</div>